.header{
    background-color:#FDB09B;
    width:70%;
    height:100px;
   
    margin-left:15%;
  }

.navigater{
    background-color:#855345;
    width:70%;
    height:50px;
    margin-left:15%;
}
  
.content
{
    background-color: #FFEFEB;
    width:70%;
    height:450px; 
    margin-left:15%;
}

.footer{
    background-color: #CC2900;
    width:70%;
    height:70px;
    margin-left:15%;
}