
h3 {
    color: #6d6d6d;
    font-weight: bold;
}

span {
    margin-right: 5px;
}
.col-md-8 img{
    width: 100%;
}

.category {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background-color: #e5383b;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .category2 {
    font-size: 16px;
    font-style: italic;
    color: #666;
    background-color: #b1a7a6;
    padding: 5px 10px;
    border-radius: 5px;
  }
