body{
    background-color: rgb(236, 234, 232);
}
.box{
    background-color:#E9E9ED;
    width:65%;
    height:800px;
    margin: 0 auto;
}

.header{
    background-color: #928DA5;
    width: 90%;
    height:200px;
    position: relative;
    top: 20px;
    left: 5%;
    

}
.navigater{
    background-color: #726C89;
    width: 90%;
    height:50px;
    position: relative;
    top: 2px;
    left: 5%;
     
   
   
}


.content
{
    background-color: #DEDDE4;
    position: relative;
    width: 90%;
    height:450px;
    top: 2px;
    left: 5%;
    
}


.footer{
    background-color: #42404F;
    position: relative;
    width: 90%;
    height:30px;
    left:5%;
}