<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>輸入客戶資料</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
       <th:block th:insert=~{_header}></th:block>
      <th:block th:insert=~{_menu}></th:block>
       
      <div class="page-title">輸入客戶資料</div>
       
      <form method="POST" th:object = "${customerForm}" th:action="@{/shoppingCartCustomer}">
          
         <table>
            <tr>
               <td>名字 *</td>
               <td><input th:field="*{name}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
               </td>
            </tr>
            <tr>
               <td>電子郵件 *</td>
               <td><input th:field="*{email}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
               </td>
            </tr>
            <tr>
               <td>電話 *</td>
               <td><input th:field="*{phone}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">..</span>
               </td>
            </tr>
            <tr>
               <td>地址 *</td>
               <td><input th:field="*{address}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
               </td>
            </tr>
            <tr>
               <td>&nbsp;</td>
               <td><input type="submit" value="儲存" />
                <input type="reset" value="重置" /></td>
            </tr>
         </table>
          
      </form>
       
     <th:block th:insert=~{_footer}></th:block>    
       
   </body>
</html>
