<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>購物車最後顯示</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
    
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
       
      <div class="page-title">最後採購訊息</div>
      <div class="container">
         <h2>感謝您的訂購
         您的訂單號碼: <span th:utext="${lastOrderedCart.orderNum}"></span></h2>
      </div>       
      <th:block th:insert=~{_footer}></th:block>         
   </body>
</html>

